<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="appConnectionString" value="server=DTIMTYKEYTIA01;database=keytia5;uid=Keytia;pwd=K3yt145DTI;Application Name=KeytiaService" />
    <add key="appSchema" value="Keytia" />
    <add key="appConnectionStringBase-A" value="server=DTIMTYKEYTIA01;database=Keytia5;Application Name=KeytiaService" />

    <add key="RetryInProcess" value="0" />
    <add key="MessageGroupSize" value="500" />
    <add key="ExcelCulture" value="en-US" />
    <add key="LogSqlExceptions" value="1" />
    <add key="LogSqlExceptions-PKDup" value="1" />
    <add key="LogRetry" value="1" />

    <add key="SmtpServer" value="smtp.gmail.com"></add>
    <add key="appeMailID" value="Keytia mail service&lt;keytia2@dti.com.mx&gt;"></add>
    <add key="appeMailUser" value="keytia2@dti.com.mx"></add>
    <add key="appeMailPwd" value="dt1m4il$ervic3"></add>
    <add key="appeMailEnableSsl" value="1"></add>
    <add key="appeMailPort" value="587"></add>
    <add key="appeMailReplyTo" value="soportetelfija@keytia.com"></add>
    <add key="appeMailErrorNotify" value="rjimenez@dti.com.mx"></add>

    <add key="SmtpServerSYO" value="sl-507-9.slc.westdc.net"></add>
    <add key="appeMailIDSYO_Movi" value="Customer Service See you ON &lt;customerservice@seeyouon.net&gt;"></add>
    <add key="appeMailIDSYO" value="Reservaciones See you ON &lt;customerservice@seeyouon.net&gt;"></add>
    <add key="appeMailUserSYO" value="customerservice@seeyouon.net"></add>
    <add key="appeMailPwdSYO" value="s33y0u#service"></add>
    <add key="appeMailPortSYO" value="2525"></add>
    <add key="appeMailReplyToSYO" value="jalanis@evox.com.mx"></add>
    <add key="appeMailErrorNotifySYO" value="jalanis@evox.com.mx"></add>
    <add key="appeMailEnableSslSYO" value="0"></add>

    <add key="KeytiaWebFPath" value="d:\k5\KeytiaWeb"></add>
    <add key="TiempoPausaCargas" value="120" />
    <add key="TiempoPausaAlarmas" value="180" />

    <add key="ReintentosLock" value="10" />

    <!--RZ.20130820 Se agregan llaves para saber si la instancia del servicio corre alarmas y/o presupuestos
        Cambiar HostService por ServidorServicio-->
    <add key="ServidorServicio" value="DTIMTYKEYTIA01"/>
    <add key="ActivarLanzadorPresup" value="true"/>
    <add key="ActivarLanzadorAlarmas" value="true"/>
    <add key="MaxCantCargasPorEsq" value="30"/>

    <!--EV.20190729 Llaves para reporte de consumo detallado-->
    <add key="RutaArchivosExpDet" value="D:\k5\Keytia\_DownloadedFiles\"/>
    <add key="LinkDescargaExpDet" value="thunder.dti.com.mx/Keytia/_DownloadedFiles/"/>
    <add key="PlantillaCuerpoCorreoDescargaReporte" value="D:\k5\Keytia\styles\azul\plantillas\BodyMail\BodyReporteDetallado.html"/>
  </appSettings>
</configuration>